/* ----- reset ----- */
* {
  box-sizing:border-box;;
  margin:0;
  padding:0;
}


/* ----- limite ----- */
.limite {
  margin:60px auto 0;
}

@media (max-width:959px) {
  .limite {
    width:80%;
  }
}

@media (min-width:960px) {
  .limite {
    width:780px;
  }
}



/* ----- galeria ----- */
.galeria-destaque {
  float: left;
  width:100%;
}

.galeria-lista {
  margin-left:-20px;
}

.galeria-item {
  cursor:pointer;
  float:left;
  margin-top:20px;
  padding-left:20px;
  list-style:none;
  width:20%;
}
.galeria-foto {
  float:left;
  opacity:.2;
  width:100%;
}

.galeria-ativo {
  opacity:1;
}
